/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #svelte {
    @apply grid min-h-screen;
    grid-template-rows: auto 1fr auto;
  }
  h1 {
    @apply mb-3 text-3xl col-span-full;
  }
  h2 {
    @apply mb-2 text-2xl col-span-full;
  }
  h3 {
    @apply text-xl col-span-full;
  }
  h4 {
    @apply col-span-full;
  }
}

@layer components {
  pre {
    @apply absolute top-0 bottom-0 right-0 overflow-scroll text-xs bg-gray-100;
  }
  input {
    @apply border rounded-sm px-4 py-2;
  }
  button {
    @apply border rounded-sm px-4 py-2 bg-gray-200 hover:bg-gray-100;
  }
}
